.addskill {
  background-image: url('https://images.unsplash.com/photo-1600880292203-757bb62b4baf?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fHNraWxsc3xlbnwwfHwwfHx8MA%3D%3D');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.hehe {
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 1rem;
  background-color: black;
  width: 100vw;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
    
}
.init {
  background-color: #3b82f6; /* Tailwind blue-500 */
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  transition: background-color 0.3s ease;
  width: 20vw;
}
init.hover {
  background-color: #2563eb; /* Tailwind blue-600 */
}